.container {
    font-family: Product Sans,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif!important;
}

.signin-text {
    text-align: center;
}

.line {
    height: 10px;
    background-color: #198754;
}

.content {
    margin: 10% 15%;
    background-color: #fff;
    border-radius: .5rem;
    box-shadow: 0 0 5px 5px rgba(0,0,0,.05);
    justify-content: center;
    overflow: hidden;
}

.field {
    padding: 4rem 1rem;
}

.field form input {
    width: 100%;
    box-sizing: border-box;
    box-shadow: none;
    outline: none;
    border: none;
    border-bottom: 2px solid #999;
    font-size: 14px;
    padding: 10px;
    margin-bottom: 20px;
}

.field form input[type="submit"]{
    border-bottom: none;
    cursor: pointer;
    background: #198754;
    color: white;
    text-transform: uppercase;
    border-radius: .5rem;
    font-weight: bold;
    font-size: 16px;
}

.field form h5 {
    text-align: center;
    color: #999;
    font-size: 14px;
    margin: 0;
}

.field form h5 a {
    text-decoration: none;
    font-weight: bold;
    color: #198754;
}

.field .form-group {
    position: relative;
}

.field .form-group label {
    position: absolute;
    top: 10px;
    left: 0;
    color: #999;
    transition: .5s;
    pointer-events: none;
}

.field input:focus ~ label,
.field input:valid ~ label {
    top: -12px;
    left: 0;
    color:#198754;
    font-size: 12px;
    font-weight: bold;
}

.field input:focus, 
.field input:valid {
    border-bottom: 2px solid#198754;
}

.field form i {
    position: absolute;
    top: 10px;
    right: 0;
    color: #999;
    transition: .5s;
    cursor: pointer;
}