nav {
    /* box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.2); */
    background-color: white;
    height: 65px;
}

/* .navbar-collapse {
    display: flex;
    justify-content: center;
}

.nav-align-right {
    display: flex;
    justify-content: flex-end;

} */

.navbar ul:hover {
    border-radius: 5px;
    background-color: white;
    transition: .3s;
}
.footer {
    background-color: #EDEDED;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #2F2F2F;
    padding: 50px 20vw;
}

.footer a {
    color: #2F2F2F;
    text-decoration: none;
}

.footer-header {
    font-weight: bold;
    display: block;
    margin-bottom: 25px;
    font-size: 1.1rem;
}

.footer-general .logo {
    margin-bottom: 30px;
}

.footer-links  a {
    display: block;
    margin: 5px 0;
}

.footer-links  a:hover {
    cursor: pointer;
    filter: brightness(150%);
}

.social-icon > * {
    font-size: 35px;
    margin: 0 5px;
}

.social-icon > *:hover {
    cursor: pointer;
    filter: brightness(110%);
}

.copyright {
    background-color: black;
    text-align: center;
    color: #999;
    padding: 10px;
}

@media only screen and (max-width: 992px) {
    /* .nav {
        height: 60px;
    } */

    .footer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer-links > div {
        display: flex;
    }

    .footer-links > div > a {
        margin: 0 5px;
    }

    .footer-header, .footer-general {
        text-align: center;
    }

    .footer-header {
        margin: 25px 0;
    }

    .mobileMenu {
        position: fixed;
        top: 0;
        bottom: 0;
        margin: auto;
        right: 0;
        width: 40vw;
        margin-top: 65px;
        transform: translateX(100%);
        transition: all ease 0.25s;
        background-color: white;
    }
    .open {
        transform: translateX(0);
    }
    .overlay {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        background-color: rgba(0,0,0,0.5);
        display: none;
        z-index: 2;
    }
}