:root {
    --green: #399F4F;
    --textmuted: #999;
  }

.tab-titles {
    display: flex;
    justify-content: center;
    padding-top: 60px;
}

.tab-titles > div {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    font-size: 18px;
    padding-bottom: 5px;
    letter-spacing: 1.5px;
}

.tab-titles > div:nth-child(1) {
    margin-right: 50px;
}

.tab-titles > div:hover {
    cursor: pointer;
}

.tab-titles > div.active {
    font-weight: bold;
    border-bottom: 3px solid var(--green);
    color: var(--green);
}

.tab-container {
    min-height: calc(100vh - 60px);
    background-color: #F6F6F6;
    padding: 40px 20vw;
}

@media only screen and (max-width: 767px) {
    .tab-container {
        padding: 40px 10px;
    }
}