:root {
    --green: #399F4F;
    --textmuted: #999;
  }

.tab-container {
    min-height: calc(100vh - 60px);
    background-color: #F6F6F6;
    padding: 65px 20vw;
}

.tab-header {
    background-color: white;
    color: #F6F6F6;
    border-radius: 0 0 5px 5px;
    padding: 40px 5px 5px;
    margin-bottom: 20px;
}

.tab-header h1 {
    font-size: 2rem;
}

.form-title {
    width: 80%;
    margin-left: 20px;
}

.form-title input {
    width: 100%;
    font-size: 1.75rem;
    font-weight: bold;
}

.newSurveyButton {
    position: fixed;
    bottom: 7.5%;
    right: 5%;
    border-radius: 50%;
    background-color: white;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
}

.newSurveyButton i {
    padding: 15px 17px;
    font-size: 25px;
    color: #399F4F;
}

.loading-container {
    min-height: calc(100vh - 60px);
    padding: 40px 0;
}

.tab-menu {
    position: fixed;
    z-index: 1000;
    top: 65px;
    background-color: white;
    width: 100%;
    box-shadow:0px 6px 20px rgba(0, 0, 0, 0.25);
}

.jawaban_short_container {
    max-height: 50vh;
    overflow-y: scroll;
    border-top: .5px solid #eee;
    border-bottom: .5px solid #eee;
    margin-top: 20px;
}

.checkbox-container {
    padding: 20px 0;
}
.radio-container {
    padding: 20px 0;   
}
.alamat_header {
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}

.alamat_row{
    display:flex;
}

.alamat_column{
    text-align: center;
    flex-basis: 100%;
}

.short_answer {
    background-color: #eee;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}

.download-csv {
    position: absolute;
    top: 10px;
    right: 10px;
}

@media only screen and (max-width: 767px) {
    .tab-container {
        padding: 50px 20px;
    }
}